@model IEnumerable<LTHTBaiDanhGiaGiuaky.Models.LTHTProduct>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "LTHTCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.thuFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thuImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thuQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thuPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thuisActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.thuFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thuImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thuQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thuPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thuisActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
